*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background-logo{
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-color: cornflowerblue;
    height: 100px;
}
.logo{
   height: 50px;
   margin-top: 40px

}
.color-p{
    color: grey;
}
.color-blue{
    color: cornflowerblue;
}
